.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 15px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  height: 60px; /* Set your preferred navbar height here */
  z-index: 10;
}

.nav ul {
  display: flex;
  align-items: center;
  margin-left: 0px; /* Adjust the spacing between logo and navigation texts */
}

.nav ul li {
  list-style: none;
  margin-right: 30px; /* Adjust the spacing between navigation texts */
}

.nav ul li a {
  font-size: large;
  color: white;
  text-decoration: none;
}

.nav ul li a.active {
  text-decoration: underline;
}

.logo {
  height: 50px;  
  margin-left: -20px;
}

.projects-contact-wrapper {
  overflow: hidden;
}

@media screen and (max-width: 734px) and (min-width: 0px) {
  
  .nav ul {
    display: flex;
    align-items: center;
    margin-left: 0px; /* Adjust the spacing between logo and navigation texts */
  }
  
  .nav ul li {
    list-style: none;
    margin-right: 10px; /* Adjust the spacing between navigation texts */
  }
  
  .nav ul li a {
    font-size: medium;
    color: white;
    text-decoration: none;
  }

  .logo {
    height: 40px;  
    margin-left: -20px;
  }
}